main section #imgBrigadeiro{
    height: 525px;
    border-radius: 10px;
}

main section #divBrigadeiro{
    width: 380px;
    border-radius: 10px;
}

main section #divBrigadeiro h2 {
    margin-bottom: 50px;
}

main section #divBrigadeiro {
    gap: 10px;
}