@import url(./modules/css/inicial.css);
@import url(./modules/css/brigadeiro.css);
@import url(./modules/css/cupcake.css);
@import url(./modules/css/doces.css);


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #51685b;
    background-color: #b4e0c7;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    max-width: 800px;
    margin: auto;
}

/* ########### header ########### */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    height: 60px;
}

header h1 {
    font-size: 2.5rem;
    text-shadow: 1px 1px 5px white;
    margin-left: 27px;
}

header nav {
    display: flex;
    gap: 25px;
}

header nav a {
    font-size: 1.2rem;
    cursor: pointer;
}

/* ########### main ########### */
main section{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

main section div {
    display: flex;
    flex-direction: column;
}

main section div h2 {
    font-size: 5rem;
    text-align: start;
    color: #97c1a9;
    text-shadow: 1px 1px 5px #51685b;
    margin-top: 50px;
    /* margin-left: 15px; */
}

main section div p {
    font-size: 1.1rem;
}

/* ########### footer ########### */
footer {
    font-size: 0.8rem;
    color: #83aa94;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}