main section #imgDoces{
    height: 525px;
    width: 350px;
    border-radius: 10px;
}

main section #divDoces{
    width: 380px;
    border-radius: 10px;
}

main section #divDoces h2 {
    margin-bottom: 50px;
}

main section #divDoces {
    gap: 10px;
}